@import "variables";

/* Font style */
@mixin error-message{
    color: $color-errorMessage;
    font-style: italic;
    font-weight: bolder;
  }
  

/* Disposition */
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Apparence des containers */
@mixin boxContainerStyle {
  background-color: $card-background;
  border-radius: 1rem;
}

@mixin boxContainerGlassMorphism($width, $height) {
  width: $width;
  height: $height;
  background-color: rgb(255 255 255 / 5%);
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 15%);
  backdrop-filter: blur(1rem);
  border-radius: 1rem;
}

/* Images responsives */
@mixin imgResponsive($width : 100%, $height: auto, $border-radius: 1rem) {
  width: $width;
  height: $height;
  object-fit: cover;
  object-position: center;
  border: none;
  border-radius: $border-radius;
}

// Animations :
@mixin link-hover($color) {
  &:hover {
    color: $color;
  }
}

@mixin button-hover($border-color) {
  &:hover {
    border-color: $border-color;
  }
}

@mixin logo-hover-shadow($color) {
  &:hover {
    filter: drop-shadow(0 0 2em $color);
  }
}

@mixin rotate-animation {
  animation: logo-spin infinite 20s linear;
}

@mixin fadeInEffect() {
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(100%);
    }

    to {
      opacity: 1;
      transform: translate(0);
    }
  }

  .fade-in {
    animation: fadeIn 2s ease-in-out;
  }
}


@mixin fadeInEffectX {

  @keyframes fade-in-X {
    from {
      opacity: 0;
      transform: translateX(100%);
    }

    to {
      opacity: 1;
      transform: translate(0);
    }
  }


  .fade-in-X {
    animation: fadeIn 2s ease-in-out;
  }
}

// Fillup :

@mixin fillUpAnimation($color: $link-hover-light, $hoverColor: #fff, $transition: 0.8s) {
  position: relative;
  overflow: hidden;
  transition: color $transition;

  &:hover {
    color: $hoverColor;

    &::before {
      height: 180%;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: $color;
    z-index: -1;
    transition: height $transition;
    bottom: 0;
    border-radius: 0 50% 0 0;
  }
}