@import "variables";

/* Font style */
@mixin error-message {
  color: $color-errorMessage;
  font-style: italic;
  font-weight: bolder;
}

@mixin import-word {
  color: $blue-horizon;
}


/* Disposition */
@mixin flex-center($flex-direction: row, $gap: $default-gap, $align-items: center, $justify-content: center) {
  display: flex;
  gap: $default-gap;
  align-items: $align-items;
  justify-content: $justify-content;
}

/* Apparence des containers */
@mixin boxContainerStyle {
  background-color: $card-background;
  border-radius: 1rem;
}

@mixin boxContainerGlassMorphism($width, $height, $margin: $default-margin, $padding: $default-padding, $backgroundColor: $backgroundColor-deep-ocean-blue) {
  width: $width;
  height: $height;
  margin: $margin auto;
  padding: $padding;
  background-color: $backgroundColor;
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 15%);
  backdrop-filter: blur(1rem);
  border: 1px solid $border-midnight-navy-color;
  border-radius: 1rem;
  transform: border 0.2s ease-in-out;


  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $font-color-whispering-mist;
    transition: color 0.2s ease-in-out;
  }

  &:hover {
    border: 1px solid $border-hover-azur-skies;

    h1,
    h2,
    h3,
    h4,
    h5 {
      color: $border-hover-azur-skies;
    }
  }

}

/* Images responsives */
@mixin imgResponsive($width : 100%, $height: auto, $border-radius: 1rem) {
  width: $width;
  height: $height;
  object-fit: cover;
  object-position: center;
  border: none;
  border-radius: $border-radius;
}


// Animations :
@mixin link-hover($color) {
  &:hover {
    color: $color;
  }
}

@mixin button-hover($border-color) {
  &:hover {
    border-color: $border-twilight-indigo-color;
  }
}

@mixin logo-hover-shadow($color) {
  &:hover {
    filter: drop-shadow(0 0 2em $color);
  }
}

@mixin rotate-animation {
  animation: logo-spin infinite 20s linear;
}

@mixin fadeInEffect() {
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(100%);
    }

    to {
      opacity: 1;
      transform: translate(0);
    }
  }

  .fade-in {
    animation: fadeIn 2s ease-in-out;
  }
}


@mixin fadeInEffectX {

  @keyframes fade-in-X {
    from {
      opacity: 0;
      transform: translateX(100%);
    }

    to {
      opacity: 1;
      transform: translate(0);
    }
  }


  .fade-in-X {
    animation: fadeIn 2s ease-in-out;
  }
}

// button CTA:

button.cta-button>a {
  color: black;
}

button.cta-button>a:hover {
  color: $cta-font-hover-button-color;
}

button:hover {
  @include button-hover($cta-button-hover);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a:hover {
  @include link-hover($link-hover-light);
}

button {
  background-color: $blue-horizon;
  color: #FEFFFF;
}

/* Debug */

@mixin debug-mod() {
  * {
    border: 0.1rem solid crimson;
  }
}