@import 'variables.scss';
@import 'mixins.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: $line-height;
    scroll-behavior: smooth;
}

body {
    font-size: $default-fontSize;
    font-family: $font-family;
    color: $light-text-color;
    background-color: $backgroundColor-midnight-dawn;
}


main {
    display: flex;
    flex-grow: 1;
    margin: 20vh auto;
}

#mainContainer {
    max-width: 149rem;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

h1,
h2,
h3,
p {
    text-wrap: pretty;
}

article>p {
    text-wrap: balance;
}


.errorMessage {
    @include error-message;
}


img,
video,
svg {
    display: block;
    height: auto;
    max-width: 100%;
}

a {
    font-size: clamp(1.6rem, 2vw, 2.2rem);
    font-weight: 500;
    color: $cta-font-button-color;
    text-decoration: inherit;
    transform: color 0.3s;

    &:hover {
        color: $cta-font-hover-button-color;
    }
}


button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.2s ease-in-out;
}