@import 'variables.scss';
@import 'mixins.scss';

* {
    min-width: 0;
    font: inherit;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 0.64rem;
}

body {
    margin: 0 auto;
    min-height: 100vh;
    width: 100%;
    font-family: $font-family;
    font-size: 1.6rem;
    color: $light-text-color;
}

h1,
h2,
h3,
p {
    text-wrap: pretty;
}

article>p {
    text-wrap: balance;
}


.errorMessage{
    @include error-message;
}


img,
video,
svg {
    display: block;
    height: auto;
    max-width: 100%;
}