/* Devices */
$min-width: 425px;
$max-width: 80vw;


/* Marges */
$default-margin: 1rem;
$default-padding: 1rem;
$default-gap: 1.6rem;


/* New style */
$backgroundColor-midnight-dawn: #171933;
$backgroundColor-deep-ocean-blue: #22244d;
$border-midnight-navy-color : #2a2e5e;
$border-twilight-indigo-color : #181C3A;
$border-hover-azur-skies: #4F8DDA;
$font-color-whispering-mist: #d3dcff;
$font-color-card-tranquil-water: #8391C7;

/* CTA */
$blue-horizon: #5396e7; //pause
$deep-sky-blue: #0056b3; //:hover

$color-errorMessage: #dc143c;
$cta-button: $blue-horizon;
$cta-button-hover: $deep-sky-blue;
$cta-font-button-color: #ffffff;
$cta-font-hover-button-color: lighten($cta-font-button-color, 10%);


/* old */
$debug-color : orange;
$light-text-color: $font-color-whispering-mist;
$dark-text-color: #213547;
$button-background-light: #f9f9f9;
$card-background: #3B3B3B;
$link-hover-light: #747bff;
$link-active: $deep-sky-blue;


// font size : 
$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$min-font-size: 1.4rem;
$max-font-size: 2.8rem;
$default-fontSize: 1.6rem;
$line-height: 1.2;