@import "variables";
@import "mixins";

#articlesContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    margin: 5vh 0;

    .linkArticle {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }

    #articleTitle {
        width: 100%;
    }

    .articleItem {
        @include boxContainerGlassMorphism(80%, auto);
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        min-height: 50rem;
        cursor: pointer;

        @media screen and (min-width: 768px) {
            width: 33%;
            min-height: 60rem;
        }

        @media screen and (min-width: 990px) {
            width: 25%;
        }

        figure {
            width: 50%;

            img {
                border: none;
                border-radius: 1rem;
            }
        }

        span.articleLabel {
            color: $dark-text-color;
            font-weight: bolder;
        }


        .articleItemTitle {
            width: 100%;
            padding: 1rem;
            text-wrap: balance;
        }


        &:hover {
            transform: scale(0.9);
            background-color: $primary-hover-color;
            background-color: $link-hover-light;
            transition: all 0.2s ease-in-out;
        }

    }
}