@import "variables";
@import "mixins";

.articlesContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    padding: 1rem;

    .linkArticle {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }

    #articleTitle {
        width: 100%;
    }

    .articleItem {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 1rem;
        @include boxContainerGlassMorphism(100%, auto);
        min-height: 30rem;
        padding: 1rem;
        cursor: pointer;

        figure {
            @include flex-center;
            width: 100%;

            img {
                @include imgResponsive(80%);


                @media screen and (min-width: 768px) {
                    @include imgResponsive(60%);

                }

                @media screen and (min-width: 990px) {
                    @include imgResponsive(50%);
                }

                @media screen and (min-width: 1024px) {
                    @include imgResponsive(40%);
                }

                @media screen and (min-width: 1440px) {
                    @include imgResponsive(30%);
                }

            }
        }

        p.articleAuthor,
        p.articleDate {
            width: 100%;
        }

        span.articleLabel {
            color: $dark-text-color;
            font-weight: bolder;
        }


        .articleItemTitle {
            width: 100%;
            padding: 1rem;
            text-wrap: balance;
        }


        &:hover {
            transform: scale(0.9);
            transition: scale 0.2s ease-in-out;
        }

    }
}