@import "variables";
@import "mixins";

.hardSkillsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;

    #hardSkillsTitle {
        @include flex-center;
        flex-wrap: wrap;
        gap: 1rem;
        width: 100%;
    }
    
    h2{
        @include important-word;
    }
    section.intro-section {
        @include boxContainerGlassMorphism(90%, 200px);
        padding: 1rem;
        overflow: scroll;

        @media screen and (min-width: 768px) {
            height: auto;
            overflow: auto;
        }

        p {
            margin: 1rem;
            padding: 1rem 2rem;
        }
    }

    #filter {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: flex-end;
        width: 100%;

        #filterName {
            font-weight: bolder;
        }

        #checkBoxesFilterContainer {
            display: flex;
            gap: 1rem;
            font-size: 2rem;
            font-weight: bolder;
            text-transform: capitalize;
        }
    }

    #hardSkillsList {
        @include flex-center;
        flex-wrap: wrap;
        gap: 1.5rem;

        .cardItem {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: 1rem;
            padding: 0.5rem;
            @include boxContainerGlassMorphism(80%, auto);

            @media screen and (min-width: 768px) {
                width: 30%;
                min-height: 25rem;
            }

            .cardItemTitle {
                width: 100%;
                padding: 1rem;
            }

            img {
                width: 25%;

                &:hover {
                    @include logo-hover-shadow($link-active);
                }
            }

            .cardItemContent {
                @include flex-center;
                width: 100%;
            }
        }
    }

    // Animation lors du filtrage :
    @media screen and (min-width: 768px) {
        @include fadeInEffect;
    }
}