@import "variables";
@import "mixins";

header {
  @include flex-center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  flex-wrap: wrap;
  padding: $default-padding 0 0;
  @include boxContainerGlassMorphism(100%, auto, $margin: 0);
  margin: 0;
  border-radius: 0 0 1rem 1rem;


  h1 {
    width: 100%;
    text-transform: uppercase;
    font-weight: bolder;
  }

  h2 {
    margin-bottom: 1rem;
  }

  span {
    font-weight: normal;
  }
}