@import "variables";
@import "mixins";


header {
  @include flex-center;
  flex-wrap: wrap;
  width: 100%;
  height: 15vh;
  padding: 1rem;
  @include boxContainerGlassMorphism(100%, auto);

  h1 {
    width: 100%;
    text-transform: uppercase;
    font-weight: bolder;
  }

  span {
    font-weight: normal;
  }
}