@import "variables";
@import "mixins";

.homeContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  height: auto;

  @media screen and (min-width: 769px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 400px repeat(2, auto);
  }

  // Sections principales
  .intro-section,
  .about-me-section,
  .contact-section,
  .portfolio-section,
  .id-section,
  .articles-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    border-radius: 1rem;
    @include boxContainerGlassMorphism(100%, auto);
    width: 100%;

    @media screen and (min-width: 769px) {
      flex-basis: 30%;
    }
  }

  .intro-section,
  .about-me-section,
  .contact-section,
  .id-section {
    @include fillUpAnimation();
  }

  // Sections Portfolio et ID
  .portfolio-section,
  .id-section {
    grid-column: span 1;
    @include boxContainerGlassMorphism(100%, auto);

    .project-card {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      gap: 1rem;
      padding: 1rem;
      @include boxContainerGlassMorphism(100%, auto);
      @include fillUpAnimation();

      img {
        @include imgResponsive(60%, auto);
      }

      &:hover {
        color: #fff;

        &::before {
          height: 180%;
        }
      }
    }
  }

  .id-section {
    grid-column: span 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .circle-photo {
      width: 250px;
      height: 250px;
      border-radius: 70% 100% 100% 100% / 30% 58% 42% 70%;
      @include flex-center;
      background-color: $cta-button;
      align-self: flex-end;
      justify-self: end;

      img {
        display: inline-block;
        @include imgResponsive(70%, auto);
        border-radius: 100% 100% 100% 100% / 30% 58% 42% 70%;
      }
    }

    .content {
      p {
        margin: 1rem auto;
      }
    }
  }

  .articles-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media screen and (min-width: 769px) {
      grid-column: span 1;
      align-items: start;
    }

    .title-section {
      width: 100%;
    }

    .article-card {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      gap: 1rem;
      padding: 1rem;
      width: 100%;
      height: auto;
      @include fillUpAnimation();

      @media screen and (min-width: 769px) {
        flex-basis: 100%;
      }

      img {
        @include imgResponsive(60%, auto);

        @media screen and (min-width: 769px) {
          width: 100%;
        }

      }
    }
  }
}