@import "variables";
@import "mixins";

#homeContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  min-height: 60vh;
  max-width: 1440px;
  @include boxContainerGlassMorphism(100%, auto);
  margin: auto;

  @media screen and (min-width: 769px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 400px repeat(2, 1fr);
  }

  // Sections principales
  .intro-section,
  .about-me-section,
  .contact-section,
  .portfolio-section,
  .id-section,
  .articles-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    border-radius: 1rem;
    @include boxContainerGlassMorphism(100%, auto);
    width: 100%;

    @media screen and (min-width: 769px) {
      flex-basis: 30%;
    }
  }

  .intro-section,
  .about-me-section,
  .contact-section,
  .id-section {
    @include fillUpAnimation();
  }


  // Sections Portfolio et ID
  .portfolio-section,
  .id-section {
    grid-column: span 1;
    @include boxContainerGlassMorphism(100%, auto);

    .project-card {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      gap: 1rem;
      padding: 1rem;
      @include boxContainerGlassMorphism(100%, auto);
      @include fillUpAnimation();

      img {
        @include imgResponsive(60%, auto);
      }

      &:hover {
        color: #fff;

        &::before {
          height: 180%;
        }
      }
    }
  }

  .id-section {
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    img {
      display: inline-block;
      align-self: flex-end;
      justify-self: end;
      @include imgResponsive(25%, auto);
      border-radius: 25%;
    }

    .content {
      p {
        margin: 1rem auto;
      }
    }
  }

  .articles-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media screen and (min-width: 769px) {
      grid-column: span 3;
      align-items: start;
    }

    .title-section {
      width: 100%;
    }

    .article-card {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      gap: 1rem;
      padding: 1rem;
      @include boxContainerGlassMorphism(100%, auto);
      @include fillUpAnimation();

      @media screen and (min-width: 769px) {
        flex-basis: 30%;
      }

      img {
        @include imgResponsive(60%, auto);
      }
    }
  }
}