@import 'variables';
@import 'mixins';

#navBar {
    width: 100%;

    ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 1rem;
        gap: 1rem;

        .navLink {
            text-decoration: none;
            color: $link-hover-dark;
            transition: color 0.3s ease;

            &:hover {
                color: $link-hover-light;
            }

            &.activeLink, &.active {
                color: $link-active;
            }
        }

        & > :first-child {
            margin-left: 1rem;
        }
    }

    @media screen and (max-width: 768px) {
        ul {
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            align-items: center;
        }
    }
}
