@import "variables";
@import "mixins";

.projectItem {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @include boxContainerGlassMorphism(100%, auto);
    padding: 1rem;
    @include fillUpAnimation();

    &:hover {
        transform: scale(0.9);
        transition: scale 0.2s ease-in-out;
    }

    @media screen and (min-width: 769px) {
        width: 45%;
        min-height: 40rem;
    }

    h3.projectItemTitle {
        margin-bottom: 1rem;
    }

    figure.projectPicture {
        width: 45%;
        height: auto;
        margin: 1rem auto;

        img {
            @include imgResponsive(100%, auto);
        }
    }

    p.projectResume {
        color: antiquewhite;
    }
}