@import "variables";
@import "mixins";

#projectsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  margin: 5vh auto 10vh;

  #projectTitle {
    @include flex-center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
  }

  article {
    @include boxContainerGlassMorphism(80%, auto);
    padding: 1rem;

    p.projectIntroduction {
      text-wrap: balance;
    }
  }

  #filter {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-end;
    width: 100%;

    #filterName {
      font-weight: bolder;
    }

    #checkBoxesFilterContainer {
      display: flex;
      gap: 1rem;
      font-size: 2rem;
      font-weight: bolder;
      text-transform: capitalize;
    }
  }

  #projectsList {
    @include flex-center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
}

// Animation lors du filtrage :
@media screen and (min-width: 768px) {
  @include fadeInEffect;
}