@import "variables";
@import "mixins";

.singleArticleContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  gap: 1rem;
  margin: auto;

  background-color: orange;

  @media screen and (min-width: 769px) {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
  }

  @include boxContainerGlassMorphism(100%, auto);

  h2 {
    grid-column: span 4;
    grid-row: 1;
    width: 100%;
  }

  figure {
    grid-column: 1/2;
    grid-row: 2/4;
    margin: auto;

    img {
      @include imgResponsive();
    }

  }

  #articleContent {
    grid-column: 2;
    grid-row: 2/3;
    margin: auto;
  }

  #articleDetail {
    grid-column: 2;
    grid-row: 3;
    padding: $default-padding;

    p.articleLabel {
      font-weight: bolder;
    }

    span {
      font-weight: normal;
      font-style: italic;
    }
  }


  #navigation {
    grid-column: 2;
    grid-row: 4;
  }

}