@import "variables";
@import "mixins";

#singleArticleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 1rem;
  margin: 5vh auto 10vh;
  @include boxContainerGlassMorphism(80%, auto);

  @media screen and (min-width: 768px) {
    width: 80%;
  }

  @media screen and (min-width: 990px) {
    width: 80%;
  }

  #articleTitle {
    width: 100%;
  }

  figure {
    @include flex-center;
    width: 100%;
    height: auto;

    img {
      @include imgResponsive(80%);


      @media screen and (min-width: 768px) {
        @include imgResponsive(60%);

      }

      @media screen and (min-width: 990px) {
        @include imgResponsive(50%);
      }

      @media screen and (min-width: 1024px) {
        @include imgResponsive(40%);
      }

      @media screen and (min-width: 1440px) {
        @include imgResponsive(30%);
      }

    }
  }

  #articleContent {
    width: 100%;
    padding: 1rem;
    min-height: 25rem;


    @media screen and (min-width: 768px) {
      width: 60%;
    }


    p {
      max-height: 250px;
      overflow-y: scroll;
      text-align: center;
      text-wrap: balance;

      @media screen and (min-width: 768px) {
        max-height: 350px;
      }

      @media screen and (min-width: 990px) {
        max-height: 450px;
        overflow: auto;
      }

    }
  }

  #articleDetail {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: space-evenly;
    width: 80%;
  }

  span.articleLabel {
    font-weight: bolder;
    color: $dark-text-color;
  }
}