@import './sass/reset';
@import './sass/variables';
@import './sass/mixins';
@import './sass/typography';

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
  color: black;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    @include rotate-animation;
  }
}

header{

  h1,h2,h3{
    color: black;
  }

}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 100%;
  min-height: 60vh;
  padding: 1rem;
  margin: 15vh auto;
  gap: 1rem;
}

#mainContainer {
  min-height: 60vh;
  max-width: 1440px;
  margin: 5vh auto;

  #container, section{
    background-color: #f3f4f6;

    h1,h2,h3{
      color: black;
    }
  }
}

.errorMessage{
  color: $color-errorMessage;
  font-style: italic;
  font-weight: bolder;
}

.navLink{
  color: black;
}


#navigation {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  margin: auto;
}