@import './sass/reset';
@import './sass/variables';
@import './sass/mixins';
@import './sass/typography';

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  background: $background-gradient-color;
}

header {
  @include flex-center;
  flex-wrap: wrap;
  width: 100%;
  height: 15vh;

  h1 {
    width: 100%;
    text-transform: uppercase;
    font-weight: bolder;
  }
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    @include rotate-animation;
  }
}

.card {
  padding: 2em;
  background-color: var(--card-background);
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 100%;
  min-height: 60vh;
  padding: 1rem;
  margin: 5vh auto 15vh;
  gap: 1rem;
}